<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong> {{ pendientes }} </strong> items pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <!-- class selected -->
        <li *ngFor="let filtro of filtrosValidos" (click)="cambiarFiltro(filtro)">
            <a [ngClass]="{'selected': filtro === filtroActual}"> {{ filtro }} </a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="borrarCompleatdos()" class="clear-completed">Limpiear completados</button>
</footer>