<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [ngClass]="{'completed': todo.completado, 'editing': editando}">
    <div class="view">
        <input class="toggle" type="checkbox" [formControl]="checkField" [checked]="todo.completado">
        <label (dblclick)="editar()"> {{todo.texto}} </label>
        <button class="destroy" (click)="borrar()"></button>
    </div>
    <input class="edit" [value]="todo.texto" [formControl]="txtinput" #txtInputFisico (blur)="blur()">
</li>