<section class="todoapp">
    <app-todo-add></app-todo-add>

    <section class="main">
        <input id="toggle-all" class="toggle-all" type="checkbox">
        <label (click)="toggleAll()" for="toggle-all">Mark all as complete</label>
        <app-todo-list></app-todo-list>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <app-todo-footer></app-todo-footer>
</section>